{% extends "shared/layout.html" %}
{% load static %}

{% block title %} Logout {% endblock %}

{% block content %}

    <div class="row col-12 justify-content-center">
        <form method="post" action="{% url 'logout' %}" class="shadow p-3 mt-5 col-12 col-md-8 col-lg-4">
            <h2>Logout</h2>
            <p>Are you sure you want to logout?</p>
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Logout</button>
            <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
    
    <script src="" async defer></script>

{% endblock %}