{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
    {% comment %} Style for error message to be in red color {% endcomment %}
        <style>
            .error{
                color: red;
            }
        </style>
    </head>
    <body>
        <h2>Login</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% comment %} hidden input {% endcomment %}
            <input type="hidden" name="next" value="{{ next }}">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" name="password" id="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        {% comment %} Checking for any errors messages {% endcomment %}
        {% if error %}
            <p class="erro">{{ error }}</p>
        {% endif %}
        
        <p>Don't have an account? <a href="{% url 'register' %}">Register Here.</a> </p>
    </body>
</html>