<!-- Extends the base layout from the layout.html -->
{% extends "shared/layout.html" %}

{% block title %} Product List {% endblock %}

{% block content %}
    <h1 class="text-center test">Products</h1>
    <div class="container-fluid table-responsive">
        <div class="mt-3 mb-3 text-center d-flex justify-content-center gap-2">
            <label for="columnSelect" class="form-label mb-0">
                <i class="bi bi-funnel-fill"></i>
            </label>
            <select id="columnSelect" class="form-select w-auto">
                <option value="all">All columns</option>
                <option value="0">Product ID</option>
                <option value="1">Name</option>
                <option value="2">SKU</option>
                <option value="3">Price</option>
                <option value="4">Quantity</option>
                <option value="5">Supplier</option>
            </select>
            <input id="searchInput" type="text" class="form-control w-50" placeholder="Buscar produto...">
        </div>        
        
        <table class="table table-bordered table-striped text-center">
            <thead class="table-dark">
                <tr>
                    <th>Product ID</th>
                    <th>Name</th>
                    <th>SKU</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Supplier</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="productTableBody">
                {% for product in products %}
                    <tr>
                        <td>{{ product.product_id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.sku }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.supplier }}</td>
                        <td>
                            <a href="{% url 'product_update' product.product_id %}" class="btn btn-warning">Update</a>
                            <a href="{% url 'product_delete' product.product_id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <a href="{% url 'product_create' %}" class="btn btn-primary">New Product</a>
        </div>
    </div>

{% endblock %}